.counter-container {
    background: #3a3a3a;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    align-items: center;
    justify-items: center;
}

.increment {
    background: #322fbd;
    height: 600px;
    width: 300px;
    border-radius: 50px;    
    transition: filter 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;

}

.increment:hover {
    filter: brightness(90%);
    border: solid 3px #1f1e74;
}

.increment h1 {
    color: #fff;
    font-size: 50px;

}

.counter {
    background: #dadadf;
    height: 400px;
    width: 300px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.counter h1 {
    color: #242424;
    font-size: 80px;
}

.decrement {
    background: #c92626;
    height: 600px;
    width: 300px;
    border-radius: 50px;
    text-align: center;
    transition: filter 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;

}

.decrement:hover {
    filter: brightness(90%);
    border: solid 3px #9c1b1b;
}

.decrement h1 {
    
    color: #fff;
    font-size: 50px;

}